body {
    margin: 0px;
}

.head,
.banner {
    background-color: #f0fff0;
    padding: 30px 40px;
    margin: 0px;

}

#button {
    border: none;
    background-color: #21b573;
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
}

.banner-body h1 {
    font-weight: 1000;
}

.banner-body span {
    font-size: 60px;
    color: #21b573;
}

.banner-body h5 {
    color: #f79d77;
}

.credits img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.performance {
    padding: 15px 0px;
    border: none;
    background-color: rgba(248, 255, 251, 1);
    height: 300px;
    border-radius: 8px;
}

#student-credit {
    box-shadow: 3px 3px 20px lightgray;
    background-color: white;
}

.card-deck {
    margin: 25px 0px;
}

.card-online {
    border: none;
    margin: 10px;
    padding: 20px;
    box-shadow: 3px 3px 10px lightgray;
}

.online courses {
    margin: 20px 100px;
}

.credits,
.online,
.testmonial,
.link-footer {
    padding: 30px 10px;
}